@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.page1 {
    height: 100vh;
    background-image: linear-gradient(to right, #e8159e, #e8c115);
    font-family: 'Roboto';
}

.navbar1 {
    display: flex;
    justify-content: end;


}

.navbar {
    display: flex;
    justify-content: center;
    background-color: white;
}

.icons {
    /* margin-left: auto; */
    display: flex;
    align-items: center;
}

.p {
    margin: 10px;
}

.icon {
    width: 20px;
}

.mid-section {
    background-size: cover;
    background-image: url('https://res.cloudinary.com/dxkkijxto/image/upload/v1697792180/img1_vwkbk1.jpg');
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.content {
    background: rgba(237, 59, 77, 0.5);
    width: 50%;
    color: white;
    padding: 20px;

}

.cont-heading {
    font-size: 42px;
}

.cont-para {
    font-size: 21px;
}

.page2 {
    background-image: linear-gradient(to right, #e8159e, #e8c115);
    font-family: 'Roboto';
}

.top {
    display: flex;
    justify-content: center;
    color: white;
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.card {
    width: 195px;
    background-color: white;
    /* padding: 0p */
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    border-top-right-radius: 44px;
    border-bottom-left-radius: 44px;
}

.img {
    width: 175px;
    height: 190px;
    border-top-right-radius: 44px;
}

.bottom {
    display: flex;
    justify-content: center;
}

.btn {
    background: rgba(224, 224, 220, 0.5);
    height: 40px;
    width: 120px;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .cards-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
}